body{
    margin:0%;
    padding:10px 0px;
}
#container{
    width: 700px; height: 800px;
    background-color: aqua; border: 1px black solid;
    margin: 0 auto;
}
header{
    width: 670px; height: 150px;
    background-color:orange;
    margin: 30px 15px 15px;
}
nav{
    width: 640px; height: 50px;
    background-color: palegreen;
    margin: 80px 15px 15px;
    float: left;
}
#left{
    width: 390px; height: 520px;
    background-color:hotpink;
    float: left;
    margin: 5px 10px 15px 15px;
}
article{
    width: 300px; height: 230px;
    background-color:floralwhite;
    float: left;
    margin: 18px 40px 5px;
}
#right{
    width: 255px; height: 520px;
    background-color: blueviolet;
    float: right;
    margin: 5px 15px 15px 5px;
}
section{
    width: 200px; height: 230px;
    background-color:lightsteelblue;
    float: right;
    margin: 18px 30px 5px;
}
footer{
    width: 670px; height: 50px;
    clear:both;
    background-color: royalblue;
    margin: 30px 15px 15px;
}